#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.ql-editor {
  font-family: 'Roboto', sans-serif;
}
.ql-font-roboto {
  font-family: 'Roboto', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif; 
}